.burger {
    position: relative;
    margin-right: -7px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.burger-bar::before {
    content: "";
    position: absolute;
    left: 7px;
    width: 29px;
    height: 2px;
    background-color: white;
    transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
}

.burger-bar:nth-child(1)::before {
    top: 18px;
    transform: translate(-4px, -9px);
}


.burger-bar:nth-child(2)::before {
    top: 18px;
    transform: translate(-4px, 0);
}

.burger-bar:nth-child(3)::before {
    top: 18px;
    transform: translate(-4px, 9px);
}

/* .burger-close .burger-bar {
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
} */

.burger-close .burger-bar:nth-child(1) {
    transform: rotate(45deg);
}

.burger-close .burger-bar:nth-child(2) {
    display: none;
}

.burger.burger-close {
    top: 24px !important;
    right: 22px !important;
}

.burger-close .burger-bar:nth-child(3) {
    transform: rotate(-45deg);
}

.burger-close .burger-bar::before {
    transform: translate(-6.5px, -4px);
}
