.site-header {
    z-index: 80;
    padding: 0 30px;
    background-color: var(--transparent);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}

.navbar-left,
.navbar-right {
    flex: 2;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.logo-image {
    max-height: 26.15px;
}

.logo-text {
    font-family: var(--font-header-alt);
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.nav-list {
    display: flex;
}

.menu-item {
    font-family: 'AvenirDemiBold', 'KarlaRegular', sans-serif;
    font-weight: normal;
    padding: 20px 20px 0 20px;
    font-size: 15.36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgb(26 89 89 / 72%);
}

.menu-item a {
    color: #FFFFFF;
}